# Data Cleaning | World Data

#### This file is the cleaning of the data from the databank.
#### The data is from https://databank.worldbank.org/source/world-development-indicators# on 06/12/21 at 10:00PM.
The website allows you to select all the data you want and download into one csv. It means it is is quite messy, but at least all in one file.

## Import Libaries

In [ ]:
import pandas as pd
import numpy as np

## Import Data

In [ ]:
world = pd.read_csv('raw_worldbank.csv')

In [21]:
world

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,"Compulsory education, duration (years)",SE.COM.DURS,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,9,9,9,9,9,9,9,9
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,...,17804292964.1045,20001598505.7042,20561069558.2152,20484885119.7348,19907111418.9938,18017749073.6362,18869945678.4215,18353881129.5246,19291104007.6135,19807067268.1084
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.7732337032148,59.8608999923829,58.4580086983139,78.7064287776753,82.0953065340517,101.108325163758,...,591.162798293135,641.871437960934,637.165463951798,613.856505217398,578.466352941708,509.220100485356,519.888912573073,493.756581366026,507.103391875763,508.808409485223
3,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.68106105621827,8.97486534263294,1.9741656904729,-0.665291050796171,-1.62285718631547,-0.541416195952564,0.0647641950115201,-1.19490038335884,1.53563667424,-4.16819108714095
4,Albania,ALB,"Compulsory education, duration (years)",SE.COM.DURS,NaN,NaN,NaN,NaN,NaN,NaN,...,8,9,9,9,9,9,9,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,Upper middle income,UMC,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,-0.138410604978318,1.58192404796293,1.49609833074204,6.31386828506268,4.93351558797414,...,6.18156247270227,5.06125777940356,4.83982643915265,3.97695260315054,3.5204664631415,3.46517554865156,4.44465926217501,4.20142377377428,3.52336690019584,-1.16061557772962
1060,World,WLD,"Compulsory education, duration (years)",SE.COM.DURS,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,9,9,10,10,10,10,10,10
1061,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1383415492120.43,1439080712715.16,1544343126489.99,1663682558251.79,1822519774865.51,1984628639611.45,...,73494092085870.2,75178612876726.5,77322543989117,79447626798478,75027409670667.4,76231927877306.2,81112442132495,86139293063112.2,87436705108244.6,84577962952008.3
1062,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,456.248115262891,468.512358704395,494.259233223064,521.586880061198,559.888849013615,597.411403896689,...,10494.8367662432,10609.7708554229,10784.6648369052,10951.8085998392,10223.0039564685,10267.6388377948,10801.4397495631,11345.3499795155,11394.8611267777,10909.2870463763
1063,World,WLD,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,2.50532148273261,3.49677339649281,3.05840884704804,4.42405172827867,3.44551094060608,...,2.13920182057088,1.49675532264564,1.66695487275024,1.92494922765731,1.97318580197407,1.62096926450126,2.21774341298755,2.11230298902092,1.4808560856879,-4.39520951503076

In [22]:
world.dtypes

Country Name     object
Country Code     object
Series Name      object
Series Code      object
1960 [YR1960]    object
                  ...
2016 [YR2016]    object
2017 [YR2017]    object
2018 [YR2018]    object
2019 [YR2019]    object
2020 [YR2020]    object
Length: 65, dtype: object

## Understanding the data

- We need to melt the table.
- There are a lot of nulls.
- Some of the fields have '..' as a value.
- There are a lot of columns.
- Need to check data types

## Nulls

In [4]:
# Counting the nulls
world.isnull().sum(axis = 0)

Country Name     3
Country Code     5
Series Name      5
Series Code      5
1960 [YR1960]    5
                ..
2016 [YR2016]    5
2017 [YR2017]    5
2018 [YR2018]    5
2019 [YR2019]    5
2020 [YR2020]    5
Length: 65, dtype: int64

In [5]:
# There are too many columns for the previous method to show all nulls.

total_empty = [] # This will hold any cols completely empty

for col in world:
    nulls = world[col].isna().sum()
    if nulls == 0:
        pass
    elif nulls != len(world.index):
        print('Nulls in: ', col, ': ', nulls)
    elif nulls == len(world.index):
        total_empty.append(col) # This will place any cols completely empty in the 'empty' list.
        print('Nulls in: ', col, ': ', nulls, '   <----   This col is completely empty')

Nulls in:  Country Name :  3
Nulls in:  Country Code :  5
Nulls in:  Series Name :  5
Nulls in:  Series Code :  5
Nulls in:  1960 [YR1960] :  5
Nulls in:  1961 [YR1961] :  5
Nulls in:  1962 [YR1962] :  5
Nulls in:  1963 [YR1963] :  5
Nulls in:  1964 [YR1964] :  5
Nulls in:  1965 [YR1965] :  5
Nulls in:  1966 [YR1966] :  5
Nulls in:  1967 [YR1967] :  5
Nulls in:  1968 [YR1968] :  5
Nulls in:  1969 [YR1969] :  5
Nulls in:  1970 [YR1970] :  5
Nulls in:  1971 [YR1971] :  5
Nulls in:  1972 [YR1972] :  5
Nulls in:  1973 [YR1973] :  5
Nulls in:  1974 [YR1974] :  5
Nulls in:  1975 [YR1975] :  5
Nulls in:  1976 [YR1976] :  5
Nulls in:  1977 [YR1977] :  5
Nulls in:  1978 [YR1978] :  5
Nulls in:  1979 [YR1979] :  5
Nulls in:  1980 [YR1980] :  5
Nulls in:  1981 [YR1981] :  5
Nulls in:  1982 [YR1982] :  5
Nulls in:  1983 [YR1983] :  5
Nulls in:  1984 [YR1984] :  5
Nulls in:  1985 [YR1985] :  5
Nulls in:  1986 [YR1986] :  5
Nulls in:  1987 [YR1987] :  5
Nulls in:  1988 [YR1988] :  5
Nulls in:  1989 [YR1989] :  5
Nulls in:  1990 [YR1990] :  5
Nulls in:  1991 [YR1991] :  5
Nulls in:  1992 [YR1992] :  5
Nulls in:  1993 [YR1993] :  5
Nulls in:  1994 [YR1994] :  5
Nulls in:  1995 [YR1995] :  5
Nulls in:  1996 [YR1996] :  5
Nulls in:  1997 [YR1997] :  5
Nulls in:  1998 [YR1998] :  5
Nulls in:  1999 [YR1999] :  5
Nulls in:  2000 [YR2000] :  5
Nulls in:  2001 [YR2001] :  5
Nulls in:  2002 [YR2002] :  5
Nulls in:  2003 [YR2003] :  5
Nulls in:  2004 [YR2004] :  5
Nulls in:  2005 [YR2005] :  5
Nulls in:  2006 [YR2006] :  5
Nulls in:  2007 [YR2007] :  5
Nulls in:  2008 [YR2008] :  5
Nulls in:  2009 [YR2009] :  5
Nulls in:  2010 [YR2010] :  5
Nulls in:  2011 [YR2011] :  5
Nulls in:  2012 [YR2012] :  5
Nulls in:  2013 [YR2013] :  5
Nulls in:  2014 [YR2014] :  5
Nulls in:  2015 [YR2015] :  5
Nulls in:  2016 [YR2016] :  5
Nulls in:  2017 [YR2017] :  5
Nulls in:  2018 [YR2018] :  5
Nulls in:  2019 [YR2019] :  5
Nulls in:  2020 [YR2020] :  5

Given what we can see in the preview of the df, and that there between 5 and 3 rows in every column empty, we know it's the last few rows.

In [6]:
world = world.drop([1064, 1065, 1066, 1067, 1068])

In [7]:
world

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,"Compulsory education, duration (years)",SE.COM.DURS,..,..,..,..,..,..,...,9,9,9,9,9,9,9,9,9,9
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,...,17804292964.1045,20001598505.7042,20561069558.2152,20484885119.7348,19907111418.9938,18017749073.6362,18869945678.4215,18353881129.5246,19291104007.6135,19807067268.1084
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.7732337032148,59.8608999923829,58.4580086983139,78.7064287776753,82.0953065340517,101.108325163758,...,591.162798293135,641.871437960934,637.165463951798,613.856505217398,578.466352941708,509.220100485356,519.888912573073,493.756581366026,507.103391875763,508.808409485223
3,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,..,..,..,..,..,...,-2.68106105621827,8.97486534263294,1.9741656904729,-0.665291050796171,-1.62285718631547,-0.541416195952564,0.0647641950115201,-1.19490038335884,1.53563667424,-4.16819108714095
4,Albania,ALB,"Compulsory education, duration (years)",SE.COM.DURS,..,..,..,..,..,..,...,8,9,9,9,9,9,9,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,Upper middle income,UMC,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,-0.138410604978318,1.58192404796293,1.49609833074204,6.31386828506268,4.93351558797414,...,6.18156247270227,5.06125777940356,4.83982643915265,3.97695260315054,3.5204664631415,3.46517554865156,4.44465926217501,4.20142377377428,3.52336690019584,-1.16061557772962
1060,World,WLD,"Compulsory education, duration (years)",SE.COM.DURS,..,..,..,..,..,..,...,9,9,9,9,10,10,10,10,10,10
1061,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1383415492120.43,1439080712715.16,1544343126489.99,1663682558251.79,1822519774865.51,1984628639611.45,...,73494092085870.2,75178612876726.5,77322543989117,79447626798478,75027409670667.4,76231927877306.2,81112442132495,86139293063112.2,87436705108244.6,84577962952008.3
1062,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,456.248115262891,468.512358704395,494.259233223064,521.586880061198,559.888849013615,597.411403896689,...,10494.8367662432,10609.7708554229,10784.6648369052,10951.8085998392,10223.0039564685,10267.6388377948,10801.4397495631,11345.3499795155,11394.8611267777,10909.2870463763
1063,World,WLD,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,2.50532148273261,3.49677339649281,3.05840884704804,4.42405172827867,3.44551094060608,...,2.13920182057088,1.49675532264564,1.66695487275024,1.92494922765731,1.97318580197407,1.62096926450126,2.21774341298755,2.11230298902092,1.4808560856879,-4.39520951503076

In [8]:
# '..' is a null? Counting to see how many in one column.
world[world['1960 [YR1960]'] == '..'].shape[0]
# Will change the '..' to a null which is in consistency with our democracy and co2 data.

800

In [9]:
world = world.replace('..', np.nan)

In [10]:
world

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,"Compulsory education, duration (years)",SE.COM.DURS,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,9,9,9,9,9,9,9,9
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,...,17804292964.1045,20001598505.7042,20561069558.2152,20484885119.7348,19907111418.9938,18017749073.6362,18869945678.4215,18353881129.5246,19291104007.6135,19807067268.1084
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.7732337032148,59.8608999923829,58.4580086983139,78.7064287776753,82.0953065340517,101.108325163758,...,591.162798293135,641.871437960934,637.165463951798,613.856505217398,578.466352941708,509.220100485356,519.888912573073,493.756581366026,507.103391875763,508.808409485223
3,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.68106105621827,8.97486534263294,1.9741656904729,-0.665291050796171,-1.62285718631547,-0.541416195952564,0.0647641950115201,-1.19490038335884,1.53563667424,-4.16819108714095
4,Albania,ALB,"Compulsory education, duration (years)",SE.COM.DURS,NaN,NaN,NaN,NaN,NaN,NaN,...,8,9,9,9,9,9,9,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,Upper middle income,UMC,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,-0.138410604978318,1.58192404796293,1.49609833074204,6.31386828506268,4.93351558797414,...,6.18156247270227,5.06125777940356,4.83982643915265,3.97695260315054,3.5204664631415,3.46517554865156,4.44465926217501,4.20142377377428,3.52336690019584,-1.16061557772962
1060,World,WLD,"Compulsory education, duration (years)",SE.COM.DURS,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,9,9,10,10,10,10,10,10
1061,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1383415492120.43,1439080712715.16,1544343126489.99,1663682558251.79,1822519774865.51,1984628639611.45,...,73494092085870.2,75178612876726.5,77322543989117,79447626798478,75027409670667.4,76231927877306.2,81112442132495,86139293063112.2,87436705108244.6,84577962952008.3
1062,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,456.248115262891,468.512358704395,494.259233223064,521.586880061198,559.888849013615,597.411403896689,...,10494.8367662432,10609.7708554229,10784.6648369052,10951.8085998392,10223.0039564685,10267.6388377948,10801.4397495631,11345.3499795155,11394.8611267777,10909.2870463763
1063,World,WLD,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,2.50532148273261,3.49677339649281,3.05840884704804,4.42405172827867,3.44551094060608,...,2.13920182057088,1.49675532264564,1.66695487275024,1.92494922765731,1.97318580197407,1.62096926450126,2.21774341298755,2.11230298902092,1.4808560856879,-4.39520951503076

## Countries
The view shows us we have rows for 'Upper middle income' and 'World'. How many more are these? If there are over 250 countries, it means we should have around 250+/- unique values in countries.
I believe this is also an issue in the CO2 data as well, so we could leave it until they are joined before handling it?

## Melt table

In [11]:
# Before we melt the table it's a good idea to visualise what the table will look like.

datayears = range(1960, 2021) #our last col is for the year 2020.
no_years = len(datayears) # This is how many years we have data on
# And 1064 row
expected_rows = no_years*1064
expected_rows

64904

In [12]:
world_melted = pd.melt(world, 
            id_vars=["Country Name", "Country Code", "Series Name"],
            value_vars=list(world.columns[4:]),
            var_name='Year', 
            value_name='Value') ##seriesname value. Will pivot up again.

In [13]:
world_melted

,Country Name,Country Code,Series Name,Year,Value
0,Afghanistan,AFG,"Compulsory education, duration (years)",1960 [YR1960],NaN
1,Afghanistan,AFG,GDP (current US$),1960 [YR1960],537777811.111111
2,Afghanistan,AFG,GDP per capita (current US$),1960 [YR1960],59.7732337032148
3,Afghanistan,AFG,GDP per capita growth (annual %),1960 [YR1960],NaN
4,Albania,ALB,"Compulsory education, duration (years)",1960 [YR1960],NaN
...,...,...,...,...,...
64899,Upper middle income,UMC,GDP per capita growth (annual %),2020 [YR2020],-1.16061557772962
64900,World,WLD,"Compulsory education, duration (years)",2020 [YR2020],10
64901,World,WLD,GDP (current US$),2020 [YR2020],84577962952008.3
64902,World,WLD,GDP per capita (current US$),2020 [YR2020],10909.2870463763
64903,World,WLD,GDP per capita growth (annual %),2020 [YR2020],-4.39520951503076

## Pivot table
Before we clean the year value, we need to move the series name into columns.

In [14]:
world_pivoted = (world_melted.set_index(["Country Name", "Country Code", "Year"])
        .pivot(columns="Series Name")['Value']
        .reset_index()
        .rename_axis(None, axis=1)
     )

# Should include a test to see if this actually worked ok?

In [15]:
world_pivoted

,Country Name,Country Code,Year,"Compulsory education, duration (years)",GDP (current US$),GDP per capita (current US$),GDP per capita growth (annual %)
0,Afghanistan,AFG,1960 [YR1960],NaN,537777811.111111,59.7732337032148,NaN
1,Afghanistan,AFG,1961 [YR1961],NaN,548888895.555556,59.8608999923829,NaN
2,Afghanistan,AFG,1962 [YR1962],NaN,546666677.777778,58.4580086983139,NaN
3,Afghanistan,AFG,1963 [YR1963],NaN,751111191.111111,78.7064287776753,NaN
4,Afghanistan,AFG,1964 [YR1964],NaN,800000044.444444,82.0953065340517,NaN
...,...,...,...,...,...,...,...
16221,Zimbabwe,ZWE,2016 [YR2016],7,20548678100,1464.58895715841,-0.793105404843814
16222,Zimbabwe,ZWE,2017 [YR2017],7,19015327919.1087,1335.66506432532,3.18250645925502
16223,Zimbabwe,ZWE,2018 [YR2018],7,19523622341.6133,1352.16265310562,2.04770018061539
16224,Zimbabwe,ZWE,2019 [YR2019],7,16932434838.6928,1156.15486360139,-9.39679293389841
16225,Zimbabwe,ZWE,2020 [YR2020],7,16768513442.6415,1128.21071129808,-9.3460180488002

Clean year column up.

In [16]:
world_pivoted['Year'] = world_pivoted['Year'].str[:-8]
world_pivoted

,Country Name,Country Code,Year,"Compulsory education, duration (years)",GDP (current US$),GDP per capita (current US$),GDP per capita growth (annual %)
0,Afghanistan,AFG,1960,NaN,537777811.111111,59.7732337032148,NaN
1,Afghanistan,AFG,1961,NaN,548888895.555556,59.8608999923829,NaN
2,Afghanistan,AFG,1962,NaN,546666677.777778,58.4580086983139,NaN
3,Afghanistan,AFG,1963,NaN,751111191.111111,78.7064287776753,NaN
4,Afghanistan,AFG,1964,NaN,800000044.444444,82.0953065340517,NaN
...,...,...,...,...,...,...,...
16221,Zimbabwe,ZWE,2016,7,20548678100,1464.58895715841,-0.793105404843814
16222,Zimbabwe,ZWE,2017,7,19015327919.1087,1335.66506432532,3.18250645925502
16223,Zimbabwe,ZWE,2018,7,19523622341.6133,1352.16265310562,2.04770018061539
16224,Zimbabwe,ZWE,2019,7,16932434838.6928,1156.15486360139,-9.39679293389841
16225,Zimbabwe,ZWE,2020,7,16768513442.6415,1128.21071129808,-9.3460180488002

## Data Types

In [17]:
world_pivoted.dtypes

Country Name                              object
Country Code                              object
Year                                      object
Compulsory education, duration (years)    object
GDP (current US$)                         object
GDP per capita (current US$)              object
GDP per capita growth (annual %)          object
dtype: object

'Year' should be a date, and thereafter should columns be numbers.

In [18]:
world_pivoted['Year'] = pd.to_numeric(world_pivoted['Year'])
world_pivoted['Year'] = pd.to_datetime(world_pivoted['Year'], format='%Y')
world_pivoted['Compulsory education, duration (years)'] = pd.to_numeric(world_pivoted['Compulsory education, duration (years)'])
world_pivoted['GDP (current US$)'] = pd.to_numeric(world_pivoted['GDP (current US$)'])
world_pivoted['GDP per capita (current US$)'] = pd.to_numeric(world_pivoted['GDP per capita (current US$)'])
world_pivoted['GDP per capita growth (annual %)'] = pd.to_numeric(world_pivoted['GDP per capita growth (annual %)'])

world_pivoted
# Must check numeric values of GDP.. 
# Years should be an Int64 but because there are nulls we shall leave it as a Float64.

,Country Name,Country Code,Year,"Compulsory education, duration (years)",GDP (current US$),GDP per capita (current US$),GDP per capita growth (annual %)
0,Afghanistan,AFG,1960-01-01,NaN,5.377778e+08,59.773234,NaN
1,Afghanistan,AFG,1961-01-01,NaN,5.488889e+08,59.860900,NaN
2,Afghanistan,AFG,1962-01-01,NaN,5.466667e+08,58.458009,NaN
3,Afghanistan,AFG,1963-01-01,NaN,7.511112e+08,78.706429,NaN
4,Afghanistan,AFG,1964-01-01,NaN,8.000000e+08,82.095307,NaN
...,...,...,...,...,...,...,...
16221,Zimbabwe,ZWE,2016-01-01,7.0,2.054868e+10,1464.588957,-0.793105
16222,Zimbabwe,ZWE,2017-01-01,7.0,1.901533e+10,1335.665064,3.182506
16223,Zimbabwe,ZWE,2018-01-01,7.0,1.952362e+10,1352.162653,2.047700
16224,Zimbabwe,ZWE,2019-01-01,7.0,1.693243e+10,1156.154864,-9.396793
16225,Zimbabwe,ZWE,2020-01-01,7.0,1.676851e+10,1128.210711,-9.346018

In [19]:
world_pivoted.dtypes

Country Name                                      object
Country Code                                      object
Year                                      datetime64[ns]
Compulsory education, duration (years)           float64
GDP (current US$)                                float64
GDP per capita (current US$)                     float64
GDP per capita growth (annual %)                 float64
dtype: object

## Export to CSV

In [20]:
world_pivoted.to_csv('clean_world.csv')